* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Verdana, sans-serif;
}

div.main {
  border: 1px black solid;
  border-radius: 1em;
  padding: 2em;
}

h1.title-page {
  text-align: center;
}

div.form-container {
  margin: 1.5em 0em 1em 0em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

div.field-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  width: 320px;
}

div.field-form label {
  font-size: 1.2em;
  margin-bottom: 8px;
}

div.field-form input,
div.field-form select {
  font-size: 0.8em;
  padding: 0.3em;
  border: 1px black solid;
  border-radius: 0.5em;
  width: 100%;
  text-align: center;
}

div.field-form select {
  cursor: pointer;
}

div.field-form select option {
  color: black;
}

div.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.btns button,
div.btns a {
  padding: 0.3em;
  font-size: 0.7em;
  width: 150px;
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  margin: 0.5em;
}

div.btns button:hover,
div.btns a:hover {
  transform: scale(1.1);
}

div.btns a {
  text-decoration: none;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.btns button {
  background-color: green;
}

div.table {
  margin: 1.5em 0em 1em 0em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  overflow: auto;
}

div.table table {
  width: 100%;
}

div.table table thead th:not(:last-child) {
  border-right: 1px solid black;
}

div.table table tbody tr {
  border-spacing: 0;
}

div.table table tbody tr td {
  text-align: center;
  padding: 0.5em 0em 0.5em 0em;
}

td.category-edit button {
  border-radius: 2px;
  cursor: pointer;
  color: white;
}

td.category-edit button.update-category {
  background-color: green;
}

td.category-edit button.delete-category {
  background-color: red;
}

td.container-view button {
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: blue;
}

table#table-products {
  display: none;
}
